// IMPORT DES FONTS
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;700&display=swap');

// IMPORT COLORS
$bg-color:#292929;
$lightgrey:#E3E3E3;
$darkgrey:#454544;
$grey:#949494;

// FONTS 
$font-title:'Montserrat',
sans-serif;
$font-text:'Crimson Text',
serif;