#about {
    padding-top: 2rem;
    padding-bottom: 8rem;

    & p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;

        @media screen and (max-width: 960px) {
        margin-left: 2rem;
        margin-right: 2rem;            
        }
    }
}