.bg-grey {
    background-color: $bg-grey;
}

#projects {

    & h2 {
        padding-top: 2rem;
    }

    & p {
        padding-bottom: 2rem;
    }
}

#projects-img {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: 720px) {
        flex-direction: column;
        
    }

    & img {
        width: 25%;

        @media screen and (max-width: 720px) {
            
            width: 80%;
            height: 80%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 2rem;
            }
        }
}
