.wrapper {
    display: grid;
    width: 960px;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    /* grid-template-rows: 1fr 2fr 1fr; */
    row-gap: 1rem;
}

.header {
    /* grid-row: 1/2; */
    grid-column: 1/4;
}

.footer {
    grid-column: 1/4;
}